@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.TextoPrincipal {
    font-weight: 500;
    font-size: 27px;
    color: white;
    border: solid ;
    border-color: rgba(255, 255, 255, 0.299);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 10%;  
    border-radius: 10px;
    opacity: .6;
    background-color: black;
    margin-left: 10%;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url(../imagenes/laboral.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Roboto', sans-serif;
}
#titulo {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 10%;
    font-size: 90px;
    text-align: center;
    background-color: rgba(245, 49, 49, 0.457);
    border-radius: 10px;
}


.cajaDia {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(57, 90, 255);
    color: black;
    border-radius: 10px;
    padding: 5px;
}

#Tabla{
    text-align: center;
    align-content: baseline;
    padding-left: 40px;
    border: solid;
    background-color: rgb(255, 0, 0);
    opacity: .8;
    color: white;
    font-size: 30px;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.cajaHoras{
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    background-color: azure;
    color: black;
    border-radius: 10px;
    padding: 5px;
}

#Mañana {
    text-align: center;
    border-color: black;
    border-style: groove;
    border-width: 2px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 3px;
}

#Tarde {
    text-align: center;
    border-color: black;
    border-style: groove;
    border-width: 2px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 3px;
}

#Horarios {
    margin-left: 10%;
}

#CitaPrevia {
    font-weight: bold;
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    align-content: baseline;
    border: solid;
    background-color: white;
    border-radius: 3px;
    border-width: 1px;
}